
html{
	font-size: 16px;
}
body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1em;
	flex-flow: row wrap;
}

.container{
	display: flex;
	flex-basis: 90%;
	flex-shrink: 10;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	max-width: 1200px;
	margin: 0 auto;
}

h1,
h2,
h3 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}
h1 {
	font-size: 30px;
}
h2 {
	font-size: 18px;
}
h3 {
	font-size: 12px;
}

p {
	font-size: 14px;
}

/*The widths are in a percentage!*/
header {
	display: flex;
	flex-basis: 100%;
	justify-content: center;
	flex-flow: row wrap;
	align-items: center;
	border-bottom: 3px solid #77a466;
}

/*ommited from this section: header h1 float left, margin 0, padding 38px 0*/


header h1 span {
	color: #77a466;
}

/*ommitted header nav{ float right padding 46px 0} and header nav ul {margin 0 padding 0}*/

/*omitted display inline from header nav ul li*/
header nav ul li {
	display: flex;
	flex-basis: 90%;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 14px;
	padding: 0 10px
}
header nav ul li a{
	text-decoration: none;
	color:#77a466;
}

/*The widths are in a percentage!*/

/*omitted clear: both and margin: 0 auto from .top-section, .bottom-section*/

.top-section,
.bottom-section {
	flex-flow: row wrap;
	flex-basis: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
}
/*omitted float: left from .main-image*/


.main-image {
	height: auto;
}
.main-image img {
	border-bottom: 3px solid #77a466;
	width: 100%;
}
/*omitted float: left from .main-title*/

.main-title {
	height: auto;
}
.main-title h2 {
	text-align: left;
	padding: 5px 0;
	color: #77a466;
}
.main-title p {
	padding: 0;
	font-size: 16px;
	line-height: 25px;
}
/*omitted float: left from .section-one through 3*/
.section-one,
.section-two,
.section-three {
	width: 100%;
	height: auto;
	border-top: 1px solid #eee;
}

.section-one h3 {
	padding: 10px 0;
}

.section-two {
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
}

.section-two h3,
.section-three h3 {
	padding: 10px 30px;
}

.menu {
	list-style: none;
	padding: 0;
}
.menu li {
	padding: 10px 0;
	color:#77a466;
}

.reviews {
	color: #333;
	font-size: 16px;
	line-height: 21px;
}

.address {
	font-size: 16px;
	line-height: 24px;
}

/*The widths are in a percentage!*/
/* omitted from footer: margin: 0 auto; clear: both;*/
footer {
	display: flex;
	flex-flow: row wrap;
	flex-basis: 90%;
	justify-content: center;
	align-items: center;
	height: 50px;
	border-top: 3px solid #eee;
	text-align: center;
}
footer span {
	font-family: 'Galada', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 14px;
}
